@import './variables';
@import './functions';
@import './mixins';

.auth {
  @include flex-row;
  @include flex-center;
}
.auth__container {
  margin-top: 2rem;
  max-width: 21rem;
  padding: {
    left: 1rem;
    right: 1rem;
  }
  width: 100%;
}
.auth__title {
  text-align: center;
  font: {
    family: $font-sans-serif;
    size: 1.75rem;
  }
  margin: {
    bottom: 1rem;
    top: 0;
  }
}
.auth__message {
  background-color: #f2d2ca;
  border-radius: 4px;
  color: color(light, font);
  font: {
    family: $font-sans-serif;
    size: .8rem;
    weight: 400;
  }
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  &.success { background-color: #d9ebe6; }
}
.auth__field {
  @include flex-column;
  position: relative;
  margin-bottom: 1rem;
}
.auth__label {
  font: {
    family: $font-sans-serif;
    size: .7rem;
    weight: 500;
  }
  left: .55rem;
  position: absolute;
  top: .35rem;
}
.auth__button-show-password {
  @include button;
  background-color: transparent;
  border: none;
  color: color(light, copy);
  font: {
    family: $font-sans-serif;
    size: .7rem;
    weight: 500;
  }
  padding: 0;
  position: absolute;
  right: .55rem;
  top: .35rem;
}
.auth__input {
  background-color: transparent;
  border: {
    color: color(light, border);
    radius: 2px;
    style: solid;
    width: 1px;
  }
  box-shadow: $box-shadow;
  font: {
    family: $font-sans-serif;
    size: .9rem;
    weight: 400;
  }
  outline: none;
  padding: {
    bottom: .35rem;
    left: .55rem;
    right: .55rem;
    top: 1.35rem;
  }
  transition: {
    property: border-color;
    duration: $transition-duration;
  }
  &:hover { border-color: color(light, border-hover); }
  &:focus { border-color: color(light, primary); }
  &::-webkit-input-placeholder { color: color(light, copy); }
  &.success {
    background: {
      image: url('../assets/icons/input-success.svg');
      position: right .55rem center;
      repeat: no-repeat;
      size: auto;
    };
  }
}
.auth__button {
  @include button;
  background-color: color(light, button-background);
  border: {
    color: color(light, button-border);
    radius: 2px;
    style: solid;
    width: 1px;
  }
  box-shadow: $box-shadow;
  color: color(light, button-font);
  font: {
    family: $font-sans-serif;
    size: .9rem;
    weight: 500;
  }
  height: 2.5rem;
  letter-spacing: .5px;
  margin-bottom: 2rem;
  padding: 0;
  transition: {
    property: all;
    duration: $transition-duration;
  }
  width: 100%;
  &:hover {
    border-color: color(light, border-hover);
    box-shadow: $box-shadow-button-hover;
    transform: translateY(-1px);
  }
  &:active {
    background-color: color(light, background-active);
    box-shadow: none;
    transform: translateY(1px);
  }
  &.loading {
    opacity: .65;
    pointer-events: none;
  }
  &.link {
    @include flex-row;
    @include flex-center;
    text: {
      align: center;
      decoration: none;
    }
  }
}
.auth__help {
  color: color(light, copy);
  font: {
    family: $font-sans-serif;
    size: .85rem;
  }
  text-align: center;
  a {
    color: color(light, copy);
    font-weight: 500;
    white-space: nowrap;
  }
  &:last-child { margin-top: .5rem; }
}
.auth__instructions {
  font: {
    family: $font-sans-serif;
    size: .9rem;
  }
  margin-bottom: 1rem;
}
