$box-shadow: 0 2px 4px rgba(0,0,0,0.05);
$box-shadow-button-hover:
  0 7px 14px rgba(221,221,221,.1),
  0 3px 6px rgba(0,0,0,.08);
$blue: #0087F8;
$orange: #ff5722;
$themes: (
  dark: (
    background: #222222, //
    button-background: $blue, //
    button-background-active: #ad391a,
    button-border: #dd4924,
    button-border-hover: #ad391a,
    button-font: #ffffff,
    copy: #bcbcbc, //
    danger: #e16b67,
    font: #e6e6e6, //
    input-border: #6f6f6f, //
    input-border-hover: #898989, //
    highlight: #363636, //
    primary: $blue //
  ),
  light: (
    background: #ffffff,
    button-background: $orange,
    button-background-active: #ad391a,
    button-border: #d53300,
    button-border-hover: #ad391a,
    button-font: #ffffff,
    copy: #878787,
    copy-light: #bababa,
    danger: #e16b67,
    font: #272727,
    input-border: #c9c9c9,
    input-border-hover: #a6a6a6,
    highlight: #efefef,
    primary: $orange
  )
);
$font-sans-serif: Avenir, sans-serif;
$font-mono: 'Fira Code', monospace;
$font-base-size: 18px;
$transition-duration: .25s;
